@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /*
     * DEPRECATED: We no longer apply the background color to the body.
     * The background color will now be controlled by the `panel` div
     * inside our main layout components for the high-contrast effect.
     * We leave a simple transition here.
    */
    @apply transition-colors duration-300;
  }
}